@import '../../.cache/wal/colors-waybar.css';
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: CaskaydiaMono Nerd Font , Helvetica, Arial, sans-serif;
    font-size:10px;
    border-radius: 0px;
    min-height: 0px;
}

window#waybar {
/*    border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
 /*   background-color: @background; */
    background-color: transparent;
    color: @foreground; /*just want a darker color since background is transparent*/
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: @background;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /*box-shadow: inset 0 -3px;*/
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /*box-shadow: inset 0 -3px #ffffff;*/
}

#workspaces {
    background-image: linear-gradient(@foreground, @background);
    color: @foreground;
    margin: 2px 1px 3px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 1;
}

#workspaces button {
    padding: 0 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border:0px;

    background-color: @background;
    color: @foreground;
    transition: all 0.15s ease-in-out;
    opacity: 0.4;
}
#workspaces button.active {
    color: @foreground;
    background: @background;
    min-width: 60px;
    transition: all 0.15s ease-in-out;
    opacity: 1.0;
}

#workspaces button:hover {
    color:@foreground;
    background: @color1;
    border-radius: 15px;
    opacity:0.7;
}

#workspaces button.focused {
    background-color: @background;
    /*box-shadow: inset 0 -3px #ffffff;*/
    border-width: 0px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    /*background-color: #64727D;
    border-bottom: 3px solid #ffffff; */
}

#clock, 
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    background-color: @background;
    color: @foreground;
}

#window,
#workspaces {
    margin: 0 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #window {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #window {
    margin-right: 0;
}


#disk, #memory, #cpu, #battery, #temperature {
    padding:0px 13px;
    border-radius:0px;
    color:@foreground;
    background-color:@background;

}

#battery {
    border-radius: 0px;
}
#battery:focused  {
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}
#cpu {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}

#device-info {
    border-radius:0px;
}




#pulseaudio-slider {
    color: @foreground;
    background-color: @background;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    color: #000000;
    min-height: 2px;
    min-width: 80px;
    border-radius: 1px;
    border-width: 0px;
    background-color: transparent;
}
#pulseaudio-slider highlight {
    color: #000000;
    min-height: 2px;
    border-radius: 1px;
    background-color: @foreground;
}

#pulseaudio {
    color: @foreground;
    background-color: @background;
}

#backlight-slider {
    color: @foreground;
    background-color: @background;
}

#backlight-slider slider {
    min-height: 2px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#backlight-slider trough {
    color: #000000;
    min-height: 2px;
    min-width: 80px;
    border-radius: 1px;
    border-width: 0px;
    background-color: transparent;
}
#backlight-slider highlight {
    color: #000000;
    min-height: 2px;
    border-radius: 1px;
    background-color: @foreground;
}


/*

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#temperature {
    background-color: #f0932b;
}

*/



@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}



#backlight {
    background-color: @background;
    color: @foreground;
}


#network.disconnected {
    background-color: #f53c3c;
}



#pulseaudio.muted {
    background-color: @background;
    color: @foreground;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}



#temperature.critical {
    background-color: @color3;
}

#tray {
    background-color: @background;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @color3;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
